include README.md
include LICENSE
include requirements.txt
include .env.example
exclude .env
exclude cookies.txt
exclude *.log
exclude __pycache__
exclude *.pyc
exclude .pytest_cache
recursive-exclude __pycache__ *
recursive-exclude .pytest_cache *
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__